.bold{
    font-weight: bold;
}

.title{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.middle{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.terms{
    margin-top: 50px;
    text-align: center;
}

.policy{
    margin-top: 20px;
    text-align: center;
}