<ion-header>
  <ion-toolbar color="success">
    <ion-item color="success" lines="none">
      <ion-icon name="arrow-back" slot="start" (click)="back()"></ion-icon>
      <ion-label>About</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">GULA</div>
  <div class="middle">
    <ion-label class="ion-text-wrap">
      Gula is part of the Ameno coperation limited. Gula Select is an online shopping plattform with highend services and best deals 
    </ion-label>
  </div>
  <div class="terms">
    <ion-label class="bold">Terms and Conditions of use.</ion-label>
  </div>
  <div class="policy">
    <ion-label class="bold">Data Policy</ion-label>
  </div>
</ion-content>