.bold {
    font-weight: bold;
}

.picture {
    margin-top: 30px;
    margin-left: 40%;
    margin-bottom: 20px;
}

.username {
    margin: auto;
    text-align: center;
    align-items: center;
}

.ads {
    text-align: center;
    margin: auto;
    align-items: center;
}

.trustedby {
    text-align: center;
    align-items: center;
}

.info{
    margin-top: 20px;
}

.title {
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 25px;
}