.title{
    align-items: center;
    text-align: center;
    //margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(90, 179, 90);
}

.logo{
    margin-top: 30px;
    align-items: center;
    text-align: center;
    //margin: auto;
}

.color{
    background: rgb(90, 179, 90);
}

.input{
    //align-items: center;
    text-align: center;
    margin-bottom: 150px;
    margin-top: 10px;
}