.postbutton{
    text-align: center;
}

.container{
    margin-top: 10%;
}

.category{
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.name{
    margin-left: 30px;
}

.bold{
    font-weight: bold;
}

.addimage{
    margin-top: 20px;
    margin-left: 20px;
}

.imagespace{
    min-height: 30px;
    max-height: 70px;
    margin-bottom: 30px;
}

.image{
    margin-top: 10px;
    margin-left: 10px;
}

.cam{
    margin-top: 30px;
    margin-left: 20%;
    margin-bottom: 30px;
}

.gal{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.pricecontainer{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.price{
    margin-left: 15px;
}

.description{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.condition{
    margin-top: 10px;
}

.model{
    margin-left: 70px;
}