<ion-header>
  <ion-toolbar color="success">
    <ion-item color="success" lines="none">
      <ion-icon name="arrow-back" slot="start" (click)="goback()"></ion-icon>
      <ion-label>Security</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item lines="none">
      <ion-label class="bold" (click)="passwordchange()">Change Password</ion-label>
    </ion-item>
  </div>
  <div>
    <ion-item lines="none">
      <ion-label class="bold">Location Policy</ion-label>
    </ion-item>
  </div>
  <div>
    <ion-item lines="none">
      <ion-label class="bold">Delivery Policy</ion-label>
    </ion-item>
  </div>
  <div>
    <ion-item lines="none">
      <ion-label class="bold">Privacy and Security Policy</ion-label>
    </ion-item>
  </div>
</ion-content>