<ion-header>
  <ion-toolbar color="success">
    <ion-icon name="arrow-back" size="large" slot="start" (click)="back()"></ion-icon>
    <ion-title>Choose a category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Trending</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="car" slot="start"></ion-icon>
      <ion-label>Vehicles</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="business" slot="start"></ion-icon>
      <ion-label>Real Estate</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="phone-portrait" slot="start"></ion-icon>
      <ion-label>Phones and Tablets</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="desktop" slot="start"></ion-icon>
      <ion-label>Electronics</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Home and Garden</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Health and Beauty</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="shirt" slot="start"></ion-icon>
      <ion-label>Fashion</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="american-football" slot="start"></ion-icon>
      <ion-label>Hobbies and Sports</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="briefcase" slot="start"></ion-icon>
      <ion-label>Jobs</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Services</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Babies and Kids</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Animals and Pets</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Agriculture</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Equipment and Tools</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="hammer" slot="start"></ion-icon>
      <ion-label>Repair and Construction</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
