<ion-header>
  <ion-toolbar color="success">
    <ion-item color="success" lines="none">
      <ion-icon name="arrow-back" slot="start" (click)="back()"></ion-icon>
      <ion-label>Change Password</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <ion-item lines="full">
      <ion-label class="bold">Change Password</ion-label>
      <div class="caution"></div>
    </ion-item>
  </div>
  <div class="prices">
    <ion-item lines="none">
      <ion-label class="bold">Current password</ion-label>
      <div class="price">
        <ion-input placeholder="Enter current password." type="password"></ion-input>
      </div>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="bold">New password</ion-label>
      <div class="price">
        <ion-input placeholder="Enter new password." type="password"></ion-input>
      </div>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="bold">Re Enter new password</ion-label>
      <div class="price">
        <ion-input placeholder="Enter new password." type="password"></ion-input>
      </div>
    </ion-item>
  </div>
</ion-content>
