<ion-header>
  <ion-toolbar color="success">
    <ion-icon name="arrow-back" size="large" slot="start" (click)="back()"></ion-icon>
    <ion-title>Chats</ion-title>
    <ion-icon name="search" size="large" slot="end" margin></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/img/draw.png"></ion-img>
      </ion-avatar>
      <div margin>
        <ion-label>username</ion-label>
        <ion-label>message</ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
