.bold {
    font-weight: bold;
}

.picture{
    text-align: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pic {
    margin-top: 30px;
    margin-left: 40%;
    margin-bottom: 20px;
}

.bio{
    margin-left: 20px;
    margin-top: 20px;
}

.biotitle{
    margin-left: 10px;
    margin-bottom: 10px;
}

.numtitle{
    margin-left: 10px;
}

.number{
    margin-left: 10px;
}

.rating{
    color: rgb(255, 189, 6);
}

.save{
    text-align: center;
}

///testing

