<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<div text-center>
				<h4>Register To Turnapp.</h4>
			</div>
			<div padding>
				<ion-item>
					<ion-input type="email" placeholder="email" [(ngModel)]="email" autocomplete="false" spellcheck="false"></ion-input>
            	</ion-item>
        
        		<ion-item>
					<ion-input type="text" placeholder="Create A Username" [(ngModel)]="username" autocomplete="off" spellcheck="off"></ion-input>
				</ion-item>

				<!--ion-item>
					<ion-input type="number" placeholder="Phone number" [(ngModel)]="username" autocomplete="off" spellcheck="off"></ion-input>
				</ion-item-->

				<ion-item>
					<ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
        		</ion-item>
        
        		<ion-item>
					<ion-input type="password" placeholder="Confirm Your Password" [(ngModel)]="cpassword"></ion-input>
				</ion-item>
			</div>

			<div padding>
				<ion-button size="large" (click)="register()" expand="block">Signup</ion-button>
	  </div>
	  <div text-center>
		<h4 color="primary" (click)="goToLogin()">Already have an account? Login instead</h4>
	</div>
		</ion-col>
	</ion-row>
</ion-grid>
