<ion-header>
  <ion-toolbar color="success">
    <ion-item color="success" lines="none">
      <ion-icon name="arrow-back" slot="start" (click)="gohome()"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let post of (favorites| async)">
    <ion-card mode="md" class="cad">
      <ion-item lines="full" no-margin no-padding>
        <ion-label>{{post.itemname}}</ion-label>
        <ion-label slot="end" class="ion-text-right bold">shs{{space}}{{post.price}}</ion-label>
        <ion-icon name="ellipsis-vertical-sharp" slot="end" (click)="popover()"></ion-icon>
      </ion-item>
      <ion-img src="{{post.picture}}"></ion-img>
      <ion-item>
        <ion-label class="ion-text-wrap">{{post.description}}</ion-label> 
      </ion-item>
      <ion-item>
        <ion-button slot="start"  color="success" (click)="buy(post.authorid, post.itemname)">Contact Vendor</ion-button>
        <ion-button slot="end"  fill="outline" color="success" (click)="createswap(post.itemname, post.authorid, post.authorname, post.picture, post.price, post.description)">Swap Item</ion-button>
      </ion-item>
    </ion-card>
   </div>
</ion-content>
