<ion-header>
  <ion-toolbar color="success">
    <ion-item lines="none" color="success">
      <ion-buttons slot="start" color="light">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title color="light">Gula</ion-title>
      <ion-icon name="search" slot="end" margin="right" class="top" (click)="search()"></ion-icon>
    </ion-item>
  </ion-toolbar>
  <ion-item lines="none">
    <ion-button slot="start" fill="outline" color="success" (click)="categories()">Categories</ion-button>
    <ion-button slot="start" color="success" (click)="filter()">
     <ion-icon name="filter" ></ion-icon>
      Filter</ion-button>
   <ion-icon name="notifications-outline" slot="end" (click)="notifications()"></ion-icon>
   <ion-icon name="chatbubble-outline"slot="end" (click)="chats()">
     <!--ion-badge color="primary" *ngIf="messages > nomessages">{{messages}}</ion-badge-->
     <ion-badge color="danger" mode="ios">100</ion-badge>
    </ion-icon>
  </ion-item>
</ion-header>

<ion-content>
  <ion-card>
    <div class="orderbutton">
      <ion-label class="bold">Place an Order</ion-label>
    </div>
    <ion-item>
      <ion-input placeholder="looking for?" [(ngModel)]="orderitemname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="location" [(ngModel)]="orderlocation"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Price level</ion-label>
      <ion-input placeholder="min" [(ngModel)]="orderminprice"></ion-input>
      <ion-input placeholder="max" [(ngModel)]="ordermaxprice"></ion-input>
    </ion-item>
    <div class="orderbutton">
      <ion-button expand="fill" color="success" (click)="placeOrder()">ORDER</ion-button>
    </div>
  </ion-card>
 
  <div *ngFor="let post of (posts | async)" class="posts">
    <ion-card mode="md" class="cad">
      <ion-item lines="full" no-margin no-padding (click)="viewItem(post.picture, post.itemname, post.price, post.description, post.authorname, post.authorpicture, post.authorid, post.timestamp)">
        <ion-label>{{post.itemname}}</ion-label>
        <ion-label slot="end" class="ion-text-right bold">shs{{space}}{{post.price}}</ion-label>
        <ion-icon name="ellipsis-vertical-sharp" slot="end"></ion-icon>
      </ion-item>
      <ion-img src="{{post.picture}}" (click)="viewItem(post.picture, post.itemname, post.price, post.description, post.authorname, post.authorpicture, post.authorid, post.timestamp)"></ion-img>
      <ion-item>
        <ion-label class="ion-text-wrap">{{post.description}}</ion-label> 
      </ion-item>
      <ion-item>
        <ion-button slot="start"  color="success" (click)="buy(post.authorid, post.authorname, post.itemname, post.picture, post.price, post.description)">
          <ion-icon name="mail-outline"></ion-icon>
           Contact</ion-button>
        <ion-icon name="star-outline" size="large" (click)="favorites(post.postid, post.picture, post.itemname, post.price, post.description, post.authorid, post.authorname)"></ion-icon>
        <ion-button slot="end"  fill="outline" color="success" (click)="createswap(post.itemname, post.authorid, post.authorname, post.picture, post.price, post.description)">
          <ion-icon name="repeat-outline"></ion-icon>
           Swap Item</ion-button>
      </ion-item>
    </ion-card>
   </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createpost()" color="success">
      <ion-label>Sell</ion-label>
    </ion-fab-button>
  </ion-fab>
</ion-content>
